h1 {
	text-align: center;
	font-size: 22px;
	}
	
	 a{
	font-style: italic;
	}
	caption {
	text-align: center;	
	}
   th {
	text-align: center;	
	background-color: darkgreen;
	font-family: bold;
	color:lavender
	}
	td:nth-child(2n+1) {
	 background-color:gray;
	}
	
	td:nth-child(even) {
	 background-color:white;
	}
   table {
	   border:2px solid #FFF8DC;
	  text-indent:-0,6em;
	  
	 
   }
   tr {
	   text-align: center;
   }
   
  tr>td:last-child{
    text-align:right;
  }