h1 {
 text-align:center;
 font-size: 24px;
}

p {
 font-size: 120%;
}

[href="biography.html"]{
  color: brown;
}
[href="biography.html"]:visited{
color: yellow;
}

[href="novadays.html"]{
  color: red;
}
[href="novadays.html"]:visited{
  color: turquoise;
}

[href="friends.html"]{
  color:ivory;
}
[href="friends.html"]:visited{
  color : tan;
}
[href="gallery.html"]{
  color : aqua;
}
[href="gallery.html"]:visited{
  color : olive;
}